body {
    position: relative;
}
#top__banner {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 78px;
    z-index: 200;
}
#top__banner div {
    display: inline-block;
}
#top__banner .top__logo {
    margin-left: 50px;
}
#top__banner a {
    color: #fff;
    font-size: 12px;
    text-align: center;
    width: 100px;
    display: inline-block;
}
#top__banner a:hover {
    text-decoration: underline;
}
#actBanBg #actBanBox .m-ban-lnk {
    width: 172px;
    height: 45px;
    color: #fff;
    background: #2774ff;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    text-align: center;
    line-height: 45px;
    font-size: 14px;
    border: none;
}
#main__function {
    background: #f7f8fa;
    height: 666px;
    width: 100%;
    overflow: hidden;
}
#main__function h4 {
    font-size: 30px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
#main__function p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #b6b7ba;
    line-height: 50px;
}
#xiaochengxu__step h4 {
    font-size: 30px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
#xiaochengxu__step p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #b6b7ba;
    line-height: 50px;
}
#xiaochengxu__step div {
    max-width: 1000px;
    margin: 30px auto;
}
#xiaochengxu__step img {
    width: 24%;
}
#main__function img {
    margin: 50px auto;
    max-width: 1000px;
    display: block;
}
#home__news {
    height: 673px;
    background: #f7f8fa;
    overflow: hidden;
}
#home__news h4 {
    font-size: 30px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
#home__news p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #b6b7ba;
    line-height: 50px;
}
#home__news div {
    width: 1290px;
    margin: 50px auto 0;
}
.home__news_list {
    width: 370px;
    background: #fff;
    display: inline-block;
    margin-left: 45px;
}
.home__news_list a {
    font-size: 12px;
    color: #727374;
    line-height: 30px;
    padding-left: 10px;
}
.home__news_list a:hover {
    color: #2774ff;
}
.home__news_list li {
    position: relative;
}
.home__news_list span {
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 30px;
}
.home__news_list .news1 {
    position: relative;
    font-size: 15px;
    line-height: 40px;
    padding-left: 10px;
}
.home__news_list .news1 a {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 10px;
    height: 40px;
    line-height: 40px;
}
#xiaochengxu__agent {
    width: 100%;
    min-height: 680px;
    background: url(../images/dl_bg_54.png) no-repeat;
    background-size: cover;
    overflow: hidden;
}
#xiaochengxu__agent h4 {
    font-size: 46px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin: 140px 0 20px;
}
#xiaochengxu__agent p{
    font-size: 20px;
    color: #fff;
    width: 100%;
    text-align: center;
}
#xiaochengxu__agent span {
    font-size: 36px;
    color: #fff;
    display: block;
}
#xiaochengxu__agent label {
    font-size: 16px;
    line-height: 40px;
    color: #8b8a8b;
    display: block;
}
#xiaochengxu__agent ul {
    width: 1200px;
    font-size: 0;
    margin: 90px auto 0;
}
#xiaochengxu__agent li {
    display: inline-block;
    width: 25%;
}
#btn__join {
    width: 182px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 14px;
    display: block;
    text-align: center;
    margin: 80px auto 0;
    border: solid 1px #fff;
    border-radius: 20px;
}

#btn__join:hover {
    color: #000;
    background: #fff;
}
#home__footer {
    width: 100%;
    background: #1e2329;
    overflow: hidden;
    position: relative;
}
#home__footer ul {
    display: inline-block;
    margin-right: 80px;
    height: 170px;
    position: relative;
    top: 0;
    vertical-align: top;

}
.footer__container {
    max-width: 1200px;
    margin: 50px auto 100px;
    position: relative;
}
.footer__container li {
    color: #9fa1a3;
    line-height: 30px;
}
.footer__container ul li:first-child {
    color: #fff;
}
.footer__erweima {
    position: absolute;
    right: 200px;
    top: 30px;
}
#home__footer p {
    width: 100%;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: #525a5e;
    border-top: solid 1px #525a5e;
}
#qa__container {
    width: 1200px;
    margin: 0 auto;
}
#qa__container ul {
    display: inline-block;
    width: 200px;
    border-right: solid 1px #e8e8e8;
    height: 100%;
    vertical-align: top;
    text-align: center;
    color: #555557;
    margin-top: 20px;
}
#qa__container ul a {
    color: #555557;
    line-height: 50px;
}
#qa__container ul li.active {
    background: #297fec;
    color: #fff;
}
#qa__container ul li.active a{
    color: #fff;
}
#qa__container ul li:hover{
    background: #297fec;
    color: #fff;
}
#qa__container ul li:hover a{
    background: #297fec;
    color: #fff;
}
#qa__content {
    display: inline-block;
    width: 700px;
    margin-top: 50px;
    margin-left: 50px;
    line-height: 30px;
}
#qa__content img {
    margin: 0 auto;
    display: block;
}
#custom__content {
    background: #f7f8fa;
    overflow: hidden;
}
#custom__content img {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
}
#custom__content .btn {
    display: block;
    background: #1879f9;
    color: #fff;
    width: 252px;
    height: 44px;
    line-height: 44px;
    border-radius: 30px;
    text-align: center;
    margin: 50px auto;
}
.market__one {
    background: #f7f8fa;
    overflow: hidden;
}
.market__one h4{
    font-size: 30px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    margin: 50px auto;
}
.market__one img {
    width: 800px;
    display: block;
    margin: 0 auto 50px;
}
.market__two img {
    width: 100%;
    display: block;
}
.market__three {
    background: #f7f8fa;
    overflow: hidden;
}
.market__three img.cont {
    width: 800px;
    display: block;
    margin: 50px auto;
}
.market__three img {
    display: block;
    margin: 0 auto;
}
.market__three .btn {
    display: block;
    background: #1879f9;
    color: #fff;
    width: 252px;
    height: 44px;
    line-height: 44px;
    border-radius: 30px;
    text-align: center;
    margin: 50px auto;
}
#template__container {
    width: 100%;
    background: #f7f8fa;
    overflow: hidden;
}
.template__menu {
    width: 1200px;
    margin: 20px auto 40px;
}
.template__menu a {
    color: #666666;
    display: inline-block;
    background: #f2f2f2;
    min-width: 70px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
}
.template__menu .active {
    background: #63b504;
    color: #fff;
}
.template__content {
    font-size: 0;
    width: 1200px;
    margin: 0 auto;
}
.template__content li {
    width: 282px;
    height: 266px;
    display: inline-block;
    margin-right: 18px;
    margin-bottom: 20px;
    background: #fff;
}
.template__content img {
    width: 100%;
}
.template__content span {
    font-size: 18px;
    color: #32343e;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 40px;
}
.template__content p {
    font-size: 14px;
    color: #8b8c90;
    width: 80%;
    margin: 0 auto;
}
.template__content a {
    width: 97px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    display: block;
    margin: 10px auto 0;
    text-align: center;
    color: #2774ff;
    border: solid 1px #2774ff;
    border-radius: 15px;
}
.template__content a:hover {
    background: #2774ff;
    color: #fff;
}
.m-ban.buss.news__list {
    background: #091880;
}
.m-ban.buss.news__list .ban-pos {
    top: 200px;
}
#newslist__container {
    width: 100%;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}
#newslist__container ul {
    width: 1200px;
    margin: 30px auto 100px;
}
#newslist__container li {
    position: relative;
    width: 100%;
}
#newslist__container span {
    position: absolute;
    right: 50px;
}
#newslist__container a {
    color: #96969a;
    font-size: 14px;
    line-height: 40px;
}
#newslist__container a:hover {
    color: #78a0ff;
}
.news__menu {
    width: 1200px;
    margin: 20px auto 0;
    height: 62px;
    border-bottom: solid 1px #eaeaea;
    position: relative;
    font-size: 0;
    overflow: hidden;
}
#newslist__container .news__menu a.selected {
    color: #2774ff;
    font-weight: bold;
    border-bottom: solid 4px #2774ff;
}
#newslist__container .news__menu a {
    font-size: 14px;
    display: inline-block;
    height: 60px;
    margin-right: 60px;
    color: #000;
    line-height: 70px;
}
#newslist__container .news__menu a:hover {
    color: #2774ff;
    font-weight: bold;
    border-bottom: solid 4px #2774ff;
}
.news__container {
    width: 1200px;
    margin: 0 auto;
}
.news__content {
    width: 810px;
    border: solid 1px #eaeaea;
    margin-top: 20px;
    margin-bottom: 200px;
    padding-bottom: 40px;
}
.news__content_detail {
    width: 730px;
    margin: 0 auto;
    line-height: 30px;
}
.news__content_detail img {
    display: block;
}
.news__content h2 {
    font-size: 24px;
    color: #5f616f;
    width: 100%;
    text-align: center;
    margin: 32px 0 10px;
}
.news__content_des {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
}
.news__content_des label {
    margin-right: 10px;
}
#newslist__container .news__content_des a {
    font-size: 12px;
    color: #2774ff;
}
.news__container {
    position: relative;
}
.news__about {
    border: solid 1px #e3e5e6;
    width: 368px;
    min-height: 200px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
}
.news__about div {
    height: 46px;
    background: #e3e5e6;
    color: #000;
    font-size: 14px;
    line-height: 46px;
    padding-left: 20px;
}
#newslist__container .news__about ul {
    width: 90%;
    margin: 0 auto;
}
#newslist__container .news__about ul li {
    height: 30px;
}
#newslist__container .news__about ul a {
    line-height: 30px;
    font-size: 12px;
}